*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  background:#E5E5E5;
   font-family: 'Poppins', sans-serif;
}
main{
  max-width: 550px;
  margin:0 auto;
  background:white;
  border-radius:8px;
  padding-bottom:30px;
} 

.header{
  height:70px;
  display:flex;
  align-items:center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.header--container{
  width: calc(100% - 60px);
  margin:0 auto;
}
.main_container{
  width: calc(100% - 55px);
  margin:0 auto;
}
.nav--logo{
  height:25px;
  width:82px;
}

.hero{
  display:flex;
  flex-direction:column;
}

.hero--grid{
  max-width: calc(100% - 30px);
  align-self:center;
  margin-top:26px;
}

.hero--heading{
  margin-top:32px;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero--text{
  color: #222222;
  margin-top:16px;
  width: 320px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  width:90%;
  max-width:320px;
}

.card{
  min-width:176px;
  max-width:176px;
/*   margin:20px 37px; */
  font-size: 12px;
  line-height: 110%;
  font-weight: 300;
  color: #222222;
  position:relative;
}

.card--image{
   width:100%;
}

.card--status{
  display: inline-block;
  top: 6px;
  left: 6px;
  position: absolute;
  padding: 5px;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 110%;
  border-radius: 3px;
}

.card--info{
  display:flex;
  align-items:center;
  margin-top:9px;
}

.card--info--star{
  height:14px;
}

.card--info--rating{
margin-left:3px;
}

.card--info--review{
  margin-left:2px;
  color: #918E9B;
}

.card--info--country{
  margin-left:3px;
  color: #918E9B;
}

.card--title{
  margin-top:8px;
}

.card--price{
  margin-top:8px;
}

.card--price--tag{
 font-weight: bold;
}

.card-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 49px 27px 20px 27px;
}